*{
    box-sizing : border-box ;
    }
    body {
    margin: 0 ;
    font-family: sans-serif ;
    background: #f7dddd ;
    }
    h1{
    color: #eabe3f;
    text-align: center ;
    }
    .form-register {
    width: 95% ;
    max-width : 500px ;
    margin : auto ;
    background : rgb(118, 207, 185) ;
    border-radius : 7px ;
    }
    .form__titulo{
    background: rgb(255, 255, 255) ;
    color: rgb(138, 104, 170) ;
    padding : 20px ;
    text-align : center ;
    font-weight : 100 ;
    font-size : 30px ;
    border-top-left-radius: 7px ;
    border-bottom : 5px solid rgb(209, 124, 205) ;
    }
    .contenedor-inputs {
    padding: 10px 30px ;
    display: flex ;
    flex-wrap: wrap ;
    justify-content : space-between ;
    }
    input {
    margin-bottom : 15px ;
    padding: 15px ;
    font-size : 16px ;
    border-radius : 3px ;
    border: 1px solid  rgb(56, 115, 134);
    }
    .input-48{
    width : 48% ;
    }
    input-100{
        width : 100% ;
    }
    .btn-enviar {
    background : rgb(141, 141, 137) ;
    color: rgb(226, 226, 219);
    margin:auto ;
    padding: 10px 40px ;
    cursor: pointer ;
    font-size : 20px ;
    }
    .btn-enviar:active {
    transform: scale(1.05) ;
    }
    .form-link {
    width: 100% ;
    margin: 7px ;
    text-align : center ;
    font-size : 14px ;
    }
    p{
        background-color: rgb(218, 218,218);
    }
    